<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento/Sales/Block/Order/View" type="Custom1/Mymodule2/Block/Order/View"/>
    <preference for="Magento/Sales/Model/Order" type="Custom1/Mymodule2/Model/Order"/>

    <preference for="Custom1\Mymodule2\Api\DemoInterface" type="Custom1\Mymodule2\Model\DemoService"/>
    
    <type name="Magento\Catalog\Model\Product">
        <plugin name="afterGetName" type="Custom1\Mymodule2\Plugin\Product" sortOrder="1" />
    </type>

     <type name="Magento\Checkout\Model\Cart">
        <plugin name="beforeAddProduct" type="Custom1\Mymodule2\Plugin\Cart" sortOrder="1" />
    </type>
</config>
